fastapi
uvicorn
websockets
pandas
python-multipart
pydantic
google-generativeai
google-genai
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
isodate
transformers
torch
matplotlib
seaborn
scikit-learn
numpy
